<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}::CACEDEBU</title>
</head>

<body>
    {{> layout/_header }}

    <h4>{{ title }} Page </h4>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum impedit inventore fugiat architecto in molestias nulla
        vel, perspiciatis animi, repudiandae quibusdam blanditiis provident! Odio, labore ipsum maiores corrupti consequuntur
        voluptate.</p>

    {{> _footer }}
</body>

</html>